<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Toolchains</title>

        <link rel="stylesheet" href="http://bootswatch.com/slate/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <style type="text/css" media="all">
.toolchain {
    display: none;
}
.found_toolchain div {
    display: inline-block;
}
.tab-pane div {
    /* display: inline-block; */
}
.manifest {
    display: none;
}
body {
    padding: 5px;
}
        </style>
    </head>
    <body>
        <header>
            <h4>
                Toolchains
                <small>Last update: {{ datetime.now() }}</small> //
                <small>Time to generate: {{ datetime.now() - start_time }}</small>
            </h4>
        </header>
        <ul class="nav nav-tabs">
        {% for release in toolchains_tree.keys()|sort %}
            <li {% if loop.first %}class="active"{% endif %}><a data-toggle="tab" href="#{{ release|slugify }}">{{ release }}</a></li>
        {% endfor %}
        </ul>
        <div class="tab-content">
        {% for release in toolchains_tree.keys() %}
            <div id="{{ release|slugify }}" class="tab-pane fade {% if loop.first %}in active{% endif %}">
                <h2>{{ release }}</h2>
                <div class="hidden">
                    <span><strong>Select arch</strong></span>
                    <select class="{{ release }}_select_arch">
                        {% for arch in archs[release]|sort %}
                        <option value="{{ arch }}">{{ arch }}</option>
                        {% endfor %}
                    </select>
                    <span><strong>Select libc</strong></span>
                    <select class="{{ release }}_select_libc">
                        {% for l in libcs[release]|sort %}
                        <option value="{{ l }}">{{ l }}</option>
                        {% endfor %}
                    </select>
                    <span><strong>Select version</strong></span>
                    <select class="{{ release }}_select_version">
                        {% for v in versions[release]|sort %}
                        <option value="{{ v }}">{{ v }}</option>
                        {% endfor %}
                    </select>
                    <input type="button" id="{{ release }}_find" value="Find!" />
                </div>
                <div class="found_toolchain">
                </div>
            </div>
            <section>
                <span class="glyphicon glyphicon-ok-sign text-success"></span>Tests passed
                <span class="glyphicon glyphicon-remove-sign text-danger"></span>Build test failed
                <span class="glyphicon glyphicon-exclamation-sign text-warning"></span>Test system did not boot
                <span class="glyphicon glyphicon-question-sign text-info"></span>Can not test
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Arch</td>
                            {% for l in libcs[release]|sort %}
                            <td>{{ l }}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in toolchains_tree[release]|sort %}
                        <tr>
                            <td>{{ a }}</td>
                            {% for l in libcs[release]|sort %}
                            <td>
                                {% for v in toolchains_tree[release][a][l] %}
                                <div>
                                    <h5>{{ v }}</h5>
                                    {% for t in toolchains_tree[release][a][l][v] %}
                                    <div class="small">
                                        {% if t['flag'] == "TEST-OK" %}
                                        <span class="glyphicon glyphicon-ok-sign text-success"></span>
                                        {% elif t['flag'] == "SYSTEM-BUILD-FAILED" %}
                                        <span class="glyphicon glyphicon-remove-sign text-danger"></span>
                                        {% elif t['flag'] == "CAN-NOT-TEST" %}
                                        <span class="glyphicon glyphicon-question-sign text-info"></span>
                                        {% elif t['flag'] == "NO-BOOT" %}
                                        <span class="glyphicon glyphicon-exclamation-sign text-warning"></span>
                                        {% endif %}
                                        <b>{{ t['name'] }}</b>
                                        <div class="dropdown">
                                            <button data-toggle="dropdown" class="btn btn-primary btn-sm">
                                                Show manifest <span class="caret"></span>
                                            </button>
                                            <div class="manifest pull-left dropdown-menu">
                                            <pre>
                                                {{ t['manifest']}}
                                            </pre>
                                        </div>
                                        <a href="{{ release }}/toolchains/{{ t['name'] }}.tar.bz2" class="btn btn-primary btn-sm">Download</a>
                                        <a href="{{ release }}/fragments/{{ t['name'] }}.frag" class="btn btn-primary btn-sm">Buildroot fragment</a>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        {% endfor %}
        </div>
        <script charset="utf-8">
$(document).ready(function() {
    $('table').DataTable( {
        "scrollY":        "80vh",
        "scrollCollapse": true,
        "paging":         false
    } );
} );
{% for release in toolchains.keys() %}
$('input#{{ release }}_find').click(function() {
    toolchains = {{ toolchains_tree[release]|to_json }};
        console.log("TROLL");
        arch = $('select.{{ release }}_select_arch')[0].value;
        libc = $('select.{{ release }}_select_libc')[0].value;
        version = $('select.{{ release }}_select_version')[0].value;
        console.log(arch);
        console.log(libc);
        console.log(version);
        console.log(toolchains);
        found_toolchain = $('#{{ release|slugify }} .found_toolchain');
        if (toolchains[arch] && toolchains[arch][libc] &&
            toolchains[arch][libc][version] &&
            toolchains[arch][libc][version].length > 0) {
            html = "";
            for (var i = 0; i < toolchains[arch][libc][version].length; i++) {
                toolchain = toolchains[arch][libc][version][i];
                html += "<div>";
                html += "<h3>" + toolchain['name'] + "</h3>";
                html += toolchain['flag'] + "<br>";
                html += "<pre class=\"small\">" + toolchain['manifest'] + "</pre>";
                html += "</div>";
            }
            found_toolchain.html(html);
            console.log(found_toolchain.html());
            console.log("BLEH");
        } else {
            found_toolchain.html("No toolchain");
            console.log("No toolchain");
        }
    });
{% endfor %}
        </script>
    </body>
</html>
